@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

@font-face {
    font-family: 'BinggraeMelona';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.ir{
    overflow:  hidden;
    border: 0;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}
.clearfix::after,
.container::after {
    content: "";
    display: block;
    clear: both;
}

::-moz-selection {
    background: rgba(57, 71, 132, 0.7);
    color: #fff;
}

::selection {
    background: rgba(57, 71, 132, 0.7);
    color: #fff;
}

html,
body {
    font: bold 16px 'Noto Sans KR', sans-serif !important;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

.container {
    width: 1332px;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    position: relative;
}

header {
    width: 100%;
    height: 100px;
    max-width: 1920px;
    min-width: 1040px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    margin-top: 30px;
    color: #fff;
    transition: all 0.5s ease-in;
}

header.fix {
    margin-top: 0px;
    color: #000;
    background: #fff;
}

header h1 {
    position: absolute;
    left: 60px;
    top: 50%;
    margin-top: -32px;
    z-index: 10;
}

header h1 a {
    display: block;
    width: 136px;
    height: 65px;
    background: url(../images/top_logo.png) no-repeat 0 0;
    text-indent: -9999px;
}

header.fix h1 a {
    background: url(../images/top_logo.png) no-repeat -136px 0;
}

header nav {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -50px;
}

header nav ul.gnb {
    width: 100%;
}

header nav ul.gnb>li {
    float: left;
    padding: 0 40px;
    text-align: center;
    position: relative;
}

header nav ul.gnb>li>a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 100px;
    font-weight: 700;
    font-family: 'BinggraeMelona';
}

header nav ul.gnb>li>ul.sub {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 20px;
    line-height: 1.3;
    font-size: 15px;
    color: #9fb6d5;
    border: 1px solid #eee;
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
}

header nav ul.gnb>li:hover>ul.sub {
    display: block;
}

header nav ul.gnb>li>ul.sub>li {
    margin: 15px 0;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
}

section .left,
section .right {
    width: 50%;
}

section .left {
    float: left;
}

section .right {
    float: right;
}

section .scroll_down {
    position: absolute;
    left: 70px;
    bottom: 100px;
    z-index: 1;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

section .scroll_down span {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.section2 .scroll_down span,
.section3 .scroll_down span,
.section5 .scroll_down span {
    color: #8ea8cb;
}

section .scroll_down span::before {
    content: "";
    width: 15px;
    height: 23px;
    background-image: url(../images/scroll_down.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: -30px;
    top: -2px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.section2 .scroll_down span::before,
.section3 .scroll_down span::before,
.section5 .scroll_down span::before {
    background-position: 0 -23px;
}

section .num {
    position: absolute;
    color: #fff;
    font-weight: 700;
    width: 60px;
    height: 60px;
    right: 60px;
    bottom: 40px;
}

.section2 .num,
.section3 .num,
.section5 .num {
    color: #000;
}

section .num b {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

section .num .slah {
    font-weight: 100;
    opacity: 0.6;
    position: absolute;
    top: 30px;
    left: 30px;
}

section .num i {
    opacity: 0.6;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
}

section .btnbox a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #fff;
    width: 220px;
    height: 60px;
    line-height: 60px;
    background-color: #0056cb;
    border-radius: 30px;
    -webkit-box-shadow: 2px 3px 5px 1px #3c3c3c;
    -moz-box-shadow: 2px 3px 5px 1px #3c3c3c;
    box-shadow: 2px 3px 5px 1px #3c3c3c;
}

.section1 {
    background-image: url(../images/main_section0_bg.jpg);
}

.section1 .st1 {
    position: relative;
    left: -7px;
    font-size: 87px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 180px;
    margin-bottom: 10px;
    font-family: 'BinggraeMelona';
}

.section1 .st1 strong {
    color: #fff;
}

.section1 .st3 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 35px;
    margin-top: 35px;
}

.section1 .st4 {
    margin-bottom: 75px;
}

.section1 .st5 {
    position: relative;
    font-size: 18px;
    color: #fff;
    padding-left: 55px;
}

.section1 .st5.icon1 {
    margin-bottom: 30px;
}

.section1 .st5::before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
}

.section1 .st5.icon1::before {
    background-image: url(../images/sectio0_icon1.png);
}

.section1 .st5.icon2::before {
    background-image: url(../images/sectio0_icon2.png);
}

.section1 .r_img {
    padding-top: 140px;
}

.section1 .r_txt {
    text-align: right;
    font-size: 15px;
    color: #83a7fb;
    line-height: 1.5;
}

.section2 {
    background-image: url(../images/main_section1_bg.jpg);
}

.section2 iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section3 {
    background-image: url(../images/section2_img.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.section3 .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section3 .tit {
    font-size: 56px;
    font-weight: 700;
    color: #000;
    margin-bottom: 35px;
    font-family: 'BinggraeMelona';
}

.section3 .txt {
    font-size: 22px;
    color: #000;
    margin-bottom: 55px;
    line-height: 1.5;
}

.section4 {
    background-image: url(../images/main_section3_bg.jpg);
}

.section4 .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section4 .tit {
    font-size: 90px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
    font-family: 'BinggraeMelona';
}

.section4 .tit img {
    vertical-align: middle;
    margin-top: -20px;
}

.section4 .txt {
    font-size: 22px;
    color: #fff;
    margin-bottom: 55px;
}

.section4 .btnbox {
    display: inline-block;
}

.section4 .left .btnbox:nth-last-child(1) {
    margin-left: 20px;
}

.section4 .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section4 .right .btnbox a {
    background: #fff;
    color: #0056cb;
}

.section4 .txt2 {
    position: relative;
    padding-left: 400px;
    margin-top: 80px;
    margin-bottom: 280px;
    line-height: 1.5;
}

.section4 .txt2::before {
    position: absolute;
    content: "";
    width: 357px;
    height: 358px;
    background-image: url(../images/section3_img.png);
    background-repeat: no-repeat;
    left: 32px;
    top: -40px
}

.section4 .txt2 span {
    font-size: 30px;
    color: #fff;
    box-shadow: inset 0 -18px 0 #1e98d1;
}

.section4 .btnbox_wrap {
    text-align: right;
}

.section5 {
    text-align: center;
}

.section5 img {
    width: 268px;
    height: 268px;
}

.section5 .tit {
    margin-top: 180px;
}

.section5 .tit span {
    position: relative;
    font-size: 56px;
    color: #000;
    font-weight: 700;
    padding-left: 110px;
    font-family: 'BinggraeMelona';
}

.section5 .tit span::before {
    position: absolute;
    content: "";
    background-image: url(../images/section4_tit.png);
    background-repeat: no-repeat;
    width: 99px;
    height: 52px;
    top: 10px;
    left: 0;
}

.section5 .txt {
    font-size: 20px;
    color: #000;
    margin: 40px 0;
}

.section5 .sns_wrap {
    margin-bottom: 50px;
}

.section5 .sns_wrap ul.sns {
    display: inline-block;
}

.section5 .sns_wrap ul.sns li {
    float: left;
}



.section5 .sns_wrap ul.sns li a {
    font-size: 17px;
    font-weight: 500;
    color: #bbb;
    font-family: 'Poppins', sans-serif;
    margin: 0 20px;
    position: relative;
    padding-left: 55px;
}

.section5 .sns_wrap ul.sns li.active a {
    color: #000;
}

.section5 .sns_wrap ul.sns li a::before {
    position: absolute;
    content: "";
    width: 43px;
    height: 43px;
    left: 0;
    top: -10px;
    background-repeat: no-repeat;
    background-image: url(../images/insta_off.png);
}

.section5 .sns_wrap ul.sns li:nth-child(1) a::before {
    background-image: url(../images/insta_off.png);
}

.section5 .sns_wrap ul.sns li:nth-child(2) a::before {
    background-image: url(../images/youtube_off.png);
}

.section5 .sns_wrap ul.sns li:nth-child(3) a::before {
    background-image: url(../images/blog_off.png);
}

.section5 .sns_wrap ul.sns li.active:nth-child(1) a::before {
    background-image: url(../images/insta_on.png);
}

.section5 .sns_wrap ul.sns li.active:nth-child(2) a::before {
    background-image: url(../images/youtube_on.png);
}

.section5 .sns_wrap ul.sns li.active:nth-child(3) a::before {
    background-image: url(../images/blog_on.png);
}

.section5 .sns_slide_wrapper {}

.section5 .sns_slide_wrapper .sns_slide_wrap {
    width: 1168px;
    margin: 0 auto;
    overflow: hidden;
}

.section5 .sns_slide_wrapper .sns_slide_wrap ul {
    display: flex;
}

.section5 .sns_slide_wrapper .sns_slide_wrap ul li {
    margin-right: 32px;
}

.section5 .sns_slide_wrapper .sns_slide_wrap ul li a {}

.section5 .sns_slide_wrapper .sns_slide_wrap ul li a img {}

.section5 .sns_slide_wrapper .sns_slide_wrap .dot_wrap {}

.section5 .sns_slide_wrapper .sns_slide_wrap .dot_wrap .dot {
    display: inline-block;
    margin: 0 10px;
    width: 16px;
    height: 16px;
    background-color: #c9e5f0;
    border-radius: 50%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.section5 .sns_slide_wrapper .sns_slide_wrap .dot_wrap .dot.active {
    background-color: #0056b8;
    width: 30px;
    border-radius: 30px;
}

.section6 {
    background-image: url(../images/main_section6_bg.jpg);
}

.section6 .left {
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
}

.section6 .tit{
    font-family: 'BinggraeMelona';
    font-size: 56px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5;
    margin-top: 45px;
}
.section6 .txt{
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    margin-top: 45px;
}
.section6 .btnbox{
    margin-top: 55px;
}
.section6 .btnbox a{
    background-color: #3aae2a;
}
.section6 .right {
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}

footer {
    padding: 60px 0;
    position: relative;
}
footer .container{
    width: 100%;
    height: auto;
}
footer .logo{
    position: absolute;
    left: 20px;
    top:60px;
}
footer .sns_list{
    position: absolute;
    right: 300px;
    top:60px;
    z-index: 10;
}
footer .sns_list ul li{
    float: left;
    margin: 0 15px;
}
footer .family{
    position: absolute;
    top: 40px;
    right: 60px;
    z-index: 5;
}
footer .family select{
    font-family: 'Poppins', sans-serif;
    width: 220px; 
    height: 60px;
    border-radius: 30px;
    border:2px solid #eaeaea;
    font-weight: 300;
    background-color: #fff;
    color: #000;
    outline: none;
    padding: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/family_arrow.png);
    background-repeat: no-repeat;
    background-position: 180px center;
}
footer .bottom_wrap{padding-left: 230px;}
footer .bottom_wrap a.privacy_link{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    margin-bottom: 30px;
    display: inline-block;
}
footer .bottom_wrap .bottom_info{
    font-size: 16px;
    color: #888;
    line-height: 1.5;
}
footer .bottom_wrap .bottom_info2{
    font-size: 14px;
    color: #888;
    line-height: 1.5;
    margin-bottom: 20px;
}
footer .bottom_wrap .copy{
    font-size: 14px;
    color: #999;
    margin-top: 40px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}